span {
  color: #e5e7eb;
  font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.hero,
footer,
.information,
.quote,
.action {
    padding-left: 150px;
    padding-right: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero,
footer {
    background-color: #1f2937;
    color: white;
}

.hero img {
    max-height: 500px;
}

.content {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
}